* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

@mixin flex-center-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  img {
    width: 99vw;
    z-index: -10;
    position: absolute;
  }
}

header {
  @include flex-center-center();
  min-height: 15vh;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.search-char {
  @include flex-center-center();
  input {
    width: 30vw;
    height: 5vh;
    font-size: 1.3rem;
  }
}

.all-cards {
  min-height: 100vh;
  .card {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    height: 30vh;
    width: 30vw;
    background: white;
  }
}
